.bottom-decoration1
    position: relative
    top: -20px
    margin: 0
.about
    .story-menu
        padding: 25px
        margin-left: 100px
        margin-right: 100px
        .our-story
            display: flex
            justify-content: space-between
            align-items: center
            text-align: center
        .about-p        
            text-align: center
            div
                margin-bottom: 20px
        .menu
           div
               .image-a
                    div
                       border-bottom: dotted grey .5px
                       .text-menu
                           display: flex
                           flex-direction: column
                       div
                           display: flex
                           align-items: center
                           img
                               border-radius: 50%
                               height: 80px
                               width: 80px
               .image-b
                    div
                       border-bottom: dotted grey .5px
                       .text-menu
                           display: flex
                           flex-direction: column
                       div
                           display: flex
                           align-items: center
                           img
                               border-radius: 50%
                               height: 80px
                               width: 80px
                