.about
    .story-menu
        padding: 25px
        margin-left: 100px
        margin-right: 100px
        .our-story
            display: flex
            justify-content: space-between
            align-items: center
            text-align: center
            h3
                font-size: 45px
        .about-p        
            text-align: center
        .menu
           div
               .image-a
                    div
                       border-bottom: dotted grey .5px
                       div
                           display: flex
                           align-items: center
                           img
                               border-radius: 50%
                               height: 80px
                               width: 80px
               .image-b
                    div
                       border-bottom: dotted grey .5px
                       div
                           display: flex
                           align-items: center
                           img
                               border-radius: 50%
                               height: 80px
                               width: 80px
                